<?xml version="1.0" ?>
<!--
/**
 * @category  Mageants Portfolio
 * @package   Mageants_Portfolio
 * @copyright Copyright (c) 2020 Mageants
 * @author    Mageants Team <support@Mageants.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aks_crud>
            <general>
                <enable>1</enable>
            </general>
        </aks_crud>
    </default>
</config>